body{
  margin:0;
  font-family:Arial;
  background:#f4fbff;
}

.navbar{
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:#ffcc00;
}

.navbar a{
  margin:0 10px;
  text-decoration:none;
  font-weight:bold;
  color:black;
}

.hero{
  text-align:center;
  padding:80px;
  background:linear-gradient(135deg,#00c6ff,#00ff9d);
  color:white;
}

.btn{
  background:#ff6600;
  padding:12px 20px;
  color:white;
  border-radius:8px;
  text-decoration:none;
}

footer{
  text-align:center;
  padding:20px;
  background:#222;
  color:white;
}
