body{
  margin:0;
  font-family: "Segoe UI", Arial;
  background:#f7fbff;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background:#ffcc00;
  position:sticky;
  top:0;
}

.logo{
  font-weight:bold;
  font-size:20px;
}

.navbar a{
  margin:0 12px;
  text-decoration:none;
  font-weight:600;
  color:#222;
}

.hero{
  text-align:center;
  padding:90px 20px;
  background:linear-gradient(135deg,#00c6ff,#00ff9d);
  color:white;
}

.btn{
  background:#ff6600;
  padding:12px 22px;
  border-radius:8px;
  color:white;
  text-decoration:none;
  font-weight:bold;
}

.section{
  padding:50px 10%;
}

.card-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:white;
  padding:25px;
  border-radius:14px;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.calendar{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.event{
  background:white;
  padding:20px;
  border-radius:12px;
  border-left:6px solid #00c6ff;
}

footer{
  background:#222;
  color:white;
  text-align:center;
  padding:25px;
  margin-top:40px;
}
